<meta charset="UTF-8">

<title>
	<%= title %>
</title>

<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">

<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrMrkdxcx95XDlFW3Eb2XIK6h0AHBvSzE&libraries=places">
</script>
