<input id="place-search" />
<button data-bind="click: addPlace">Add Place to my List</button>

<div data-bind="foreach: places">
  <div>
    <span data-bind="text: fullPlaceName"></span>
    <button data-bind="click: $parent.removePlace">Remove</button>
  </div>
</div>
