<!-- Form to submit place data -->
<form action="/places" method="post" role="form">
    <div class="form-group">
      <label>City:</label>
      <input type="text" class="form-control" id="city-box" name="city" />
    </div>
    <div class="form-group">
      <label>Country:</label>
      <input type="text" class="form-control" id="country-box" name="country" />
    </div>
    <div class="form-group">
      <input type="button" class="btn btn-default" id="add-place" value="Add a new place" />
    </div>
	</form>

<div id="place-container"></div>
