<!DOCTYPE html>
<html>
<head>
	<%= include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<div>
		<% include ../partials/places %>
	</div>

	<footer>
		<% include ../partials/footer %>
	</footer>

	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="main.js"></script>
</body>
</html>  