<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<%- include ../partials/header %>
	</header>

	<% if (userFirstName) { %>
		<div>
			<% include ../partials/places %>
		</div>
	<% } else { %>
		<div>
			<h1>Welcome</h1>
			<p>Please sign in or create an account</p>
		</div>
	<% } %>

	<footer class="footer">
		<% include ../partials/footer %>
	</footer>

	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>  