<!DOCTYPE html>
<html>
<head>
	<title> <%= title %> </title>
</head>
<body>
	<!-- Header will go here -->
	<h1> <!-- List name here --> Hi there. </h1>
	<!-- List items here -->
	<!-- Footer will go here -->
</body>
</html>  